
body{
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
	flex-direction:column;
	
}

.label{
		height:40;
}

.buttons{
	border:medium solid #999;
	display:flex;
	justify-content:center;
	align-items:center;
}


.btn{
	border:medium solid #999;
	margin:15px 10px;
	display:flex;
	flex-flow:nowrap;
	padding:10px;
 	
}
